{% extends 'frontend.html.twig' %}

{% block title %}Registration{% endblock %}

{% block article %}
    <div class="jumbotron">
        <div class="container">
            <h1><kbd>Pol&iacute;tica de Calidad</kbd></h1>
            <div class="panel panel-default">
            <div class="panel-body">
                <p>SMP ha desarrollado un Sistema de Calidad de Gesti&oacute;n para la comercializaci&oacute;n de sus productos a base de metales preciosos, alta y baja densidad y no   f&eacute;rreos. </p>
                <p>Nuestra Pol&iacute;tica de Calidad est&aacute; enfocada en los siguientes puntos: </p>
                <p>
                <ul class="list-unstyled">
                <ul>
                <li><ul><p>Satisfacer las necesidades de los clientes en calidad, servicio y precio.</p></ul></li>
                <li><ul><p>Que nuestros productos igualen o superen la calidad de los productos de nuestros competidores cumpliendo todos los requisitos legales y reglamentarios que les apliquen. </p></ul></li>
                <li><ul><p>Obtener una mejora continua del sistema y del servicio. </p></ul></li>
                <li><ul><p>Extensi&oacute;n de la Calidad a todas las fases del negocio. </p></ul></li>
                <li><ul><p>Es Pol&iacute;tica de Calidad de SMP, crecer e incrementar nuestra participaci&oacute;n en el mercado, mejorar nuestra rentabilidad y proporcionar a nuestros clientes productos y servicios que satisfagan o excedan sus expectativas en t&eacute;rminos de calidad y as&iacute;, mejorar permanentemente la imagen y prestigio de SMP en el mercado. </p></ul></li>
                <li><ul><p>La funci&oacute;n Gesti&oacute;n de Calidad, debe existir en cada operaci&oacute;n de manufactura o servicio, hasta el nivel necesario para asegurar que:</p></ul></li>
                </ul>
                <br>
                <ul>
                    <ul>
                    <li><p>Se cumplan los est&aacute;ndares de aceptabilidad y capacidad de nuestros productos y servicios.</p></li>
                    <li><p>Se cumplan los costes de los objetivos para cada operaci&oacute;n.</p></li>
                    <li><p>Desarrollar y mantener una metodolog&iacute;a de trabajo en equipo para mejorar la competitividad de SMP.</p></li>
                    <li><p>Establecer relaciones de cooperaci&oacute;n tanto con clientes como proveedores, con el fin de mejorar la calidad, tanto de los productos como los servicios prestados por SMP.</p></li>
                    <li><p>Crear un ambiente que motive a cada persona del equipo de SMP, a utilizar todo su potencial y sentirse identificado y responsable con su trabajo.</p></li>
                    <li><p>Mejorar la preparaci&oacute;n del personal en materias relacionadas con Calidad, mediante capacitaci&oacute;n y educaci&oacute;n en calidad.</p></li>
                    </ul>
                </ul>
                </p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
            