{% extends 'frontend.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block article %}
<div class="jumbotron">
	<div class="container">
	<h1><kbd>Añadir Usuario</kbd></h1>
        <form action="{{ path('admin_user_edit', {'id': user.id}) }}" method="post" {{
		form_enctype(admin_user_form) }}>
		{{ form_widget(admin_user_form) }}
		<input class="boton" type="submit" value="Guardar" />
		</form>
    </div>
</div>
{% endblock %}