{% extends 'frontend.html.twig' %}

{% block title %}Añadir Material{% endblock %}

{% block article %}
<div class="jumbotron">
	<div class="container">
	<h1><kbd>Añadir Material</kbd></h1>
        <form action="{{ path('admin_material_new') }}" method="post" {{
		form_enctype(admin_material_form) }}>
		{{ form_widget(admin_material_form) }}
		<input class="boton" type="submit" value="Añadir" />
		</form>
    </div>
</div>
{% endblock %}