{% extends 'frontend.html.twig' %}

{% block title %}P치gina no encontrada{% endblock %}

{% block article %}
<div class="jumbotron">
	<div class="container">
	<h1><kbd>P치gina no encontrada</kbd></h1>
    	{# example security usage, see below #}
	    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
	        {# ... #}
	    {% endif %}

	    <p>
	        La p치gina solicitada no existe. Por favor, introduzca una URL v치lida o <a href="{{ path('home') }}">vuelva al inicio</a>.
	    </p>
    </div>
</div>
{% endblock %}